<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework 2-Exercise3</title>
</head>
<body>
    <h2>calculate and return your dog's age based on the conversion rate of 1 human year to 7 dog years. 
        Print the following message: Your dog's age is NN years. NN is the calculated age;
        Note: Call the function and pass human years as input.
        Bonus: Make function for converting dog to human years as well
        Bonus**: Try to use the same function for both calculations. 
        Hint: make the logic dependent on another argument.</h2>
        <script src="../src/exercise3.js"></script>
</body>
</html>